/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

#wrapper {
  display:table;
  width: 100%;
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.full-column{
  height: 100%;
  display: table-row;
  margin: 0;
  padding: 0;
}

#navigation {
  display: table-cell;
  background: #2c3e50;
  float: none;
  width: 70px;
  padding: 6px;
  vertical-align: top;
}

#navigation a{
  margin-top: 0;
}

#navigation a .fa {
  font-size: 2em;
}

#navigation ul{
  padding: 0;
  margin-left: 16px;
}

#navigation ul li{
  list-style-type: none;
  padding: 2px;
}

#main-container, #container{
  float: none;
  min-height: 960px;
  margin-top: 20px;
}
