/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

$imago-dark-blue: #061D28;
$imago-dark-purple: #3E4358;
$imago-white: #ffffff;

#home-nav {
  background: image-url('navbar/nav-bar-logo.png');
  background-repeat: no-repeat;
  height: 75px;
  margin-top: 10px;
  margin-left: 6px;
  margin-bottom: -6px;
}
#profile-nav {
  background: image-url('navbar/nav-bar-profile.png');
  background-repeat: no-repeat;
  height: 34px;
  margin-left: 26px;
}
#map-nav {
  background: image-url('navbar/nav-bar-map.png');
  background-repeat: no-repeat;
  height: 30px;
  margin-left: 22px;
}

#animated-logo {
  position: relative;
  width: 100%;
  height: 300px;
  background: image-url('imago.gif');
  background-repeat: no-repeat;
}

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: $imago-dark-blue;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#page-content-wrapper {
  width: 100%;
}

/* Sidebar Styles */

.sidebar-nav {

  position: absolute;
  top: 0;
  width: 90px;
  margin: 0;
  padding: 0;
  list-style: none;

  hr {
    display: block;
    border-top: 1px inset white;
    opacity: 0.2;
    width: 74px;
  }

  li {
    //NOTE: might not be needed
    //with new icons
    line-height: 40px;

    a {
      display: block;
      text-decoration: none;
      text-align: center;
      opacity: 0.4;

      &:hover, &:active, &:focus, &.current {
        opacity: 1;
      }
      margin-bottom: 30px;
    }
  }

  .sidebar-brand {
    li {
      a {
        opacity: 1;

        &.current {
          opacity: 1;
        }
      }
    }
  }
}

.sidebar-nav-bottom {
  position: absolute;
  bottom: 0;
  width: 90px;
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    line-height: 40px;

    a {
      display: block;
      text-decoration: none;
      text-align: center;
      opacity: 0.2;
      color: $imago-white;

      &:hover, &:active, &:focus, &.current {
        opacity: 1;
      }
    }
  }
}

@media(min-width:768px) {
  #wrapper {
    padding-left: 90px;
  }

  #sidebar-wrapper {
      width: 90px;
  }

  #page-content-wrapper {
  }

  #main-view-container {
    padding: 0;
  }
}

.menu-ui {
  background: $imago-dark-purple;
  position:absolute;
  top:10px;
  left:10px;
  z-index:1;
  border-radius:3px;
  width:140px;
  border:1px solid rgba(0,0,0,0.4);
  opacity: 0.4;

  &:hover {
    opacity: 1;
  }
}
.menu-ui a {
  color: $imago-white;
  font-size: 13px;
  display: block;
  margin: 0;
  padding: 5px 10px;
  border-bottom: 1px solid rgba(0,0,0,0.25);
  text-align: center;
  text-decoration: none;

  &:hover, &:active, &:focus, &.current{
    text-decoration: none;
    color: $imago-white;
  }
}

#year-indicator {
  background: $imago-dark-purple;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1;
  width: 110px;
  border:1px solid $imago-dark-purple;
  border-radius:3px;
  padding: 4px;
  opacity: 1;
  font-size: 10px;
  color: $imago-white;
  span {
    font-size: 14px;
  }
}

.map-marker {
  border: 4px solid rgba(70, 80, 115, 1);
  border-radius: 4px;
  background-color: $imago-dark-purple;
  color: $imago-white;
  font-size: 6px;

  img {
    width: 40px;
    height: 40px;
  }
}
