/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

#wrapper {
  display:table;
  width: 100%;
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.full-column{
  height: 100%;
  display: table-row;
  margin: 0;
  padding: 0;
}

#navigation {
  display: table-cell;
  background: #061D28;
  float: none;
  width: 70px;
  padding: 6px;
  vertical-align: top;
}

#navigation{
  a {
    margin-top: 0;

    .fa {
      font-size: 2em;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    list-style: none;
    li {
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline;
      list-style-type: none;
    }
  }

  .bottom-nav{
    position: fixed;
    bottom: 0px;
    margin-bottom: 10px;
  }
}

#main-container, #container{
  float: none;
  min-height: 960px;
  margin-top: 20px;
}

#animated-logo {
  position: relative;
  width: 100%;
  height: 300px;
  background: image-url('imago.gif');
  background-repeat: no-repeat;
}
