/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

$imago-dark-blue: #061D28;
$imago-white: #ffffff;

#home-nav {
  background: image-url('navbar/nav-bar-home-resize.png');
  background-repeat: no-repeat;
  height: 70px;
  width: 100%;
  margin-top: 10px;
}
#profile-nav {
  background: image-url('navbar/nav-bar-profile-resize.png');
  background-repeat: no-repeat;
  height: 30px;
  width: 100%;
  margin-top: 10px;
}

#animated-logo {
  position: relative;
  width: 100%;
  height: 300px;
  background: image-url('imago.gif');
  background-repeat: no-repeat;
}

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: $imago-dark-blue;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#page-content-wrapper {
  width: 100%;
}

/* Sidebar Styles */

.sidebar-nav {

  position: absolute;
  top: 0;
  width: 70px;
  margin: 0;
  padding: 0;
  list-style: none;

  hr {
    display: block;
    border-top: 1px inset white;
    opacity: 0.2;
    width: 60px;
  }

  li {
    //NOTE: might not be needed
    //with new icons
    line-height: 40px;

    a {
      display: block;
      text-decoration: none;
      text-align: center;
      opacity: 0.4;

      &:hover, &:active, &:focus {
        opacity: 1;
      }
    }
  }

  .sidebar-brand {
    .current {
      opacity: 1;
    }
  }
}

.sidebar-nav-bottom {
  position: absolute;
  bottom: 0;
  width: 70px;
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    line-height: 40px;

    a {
      display: block;
      text-decoration: none;
      text-align: center;
      opacity: 0.2;
      color: $imago-white;

      &:hover, &:active, &:focus {
        opacity: 1;
      }
    }
  }
}

@media(min-width:768px) {
  #wrapper {
    padding-left: 70px;
  }

  #sidebar-wrapper {
      width: 70px;
  }

  #page-content-wrapper {
  }

  #main-view-container {
    padding: 0;
  }
}
