// Place all the styles related to the Static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#testimonies-map{
  height: 900px;
  width: 100%;
}

.empty {
  height: 250px;
  width: 250px;
}

.testimony-cell {
  .thumbnail {
    background-color: initial;
    padding: 0;
    margin: 2px;
    border: initial;
  }
}

.imago-thumb {
  position: relative;
  float: left;
  padding:0;
  margin:0;
  height: 250px;
  width: 250px;
}

.dashed-button {
  border: 1px dotted #ecf0f1;
  margin-left: 25%;
  margin-top: 40%;
  background-color: initial;
  color: #ecf0f1;

  &:hover {
    color: #061D28;
  }

}
